body {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.background-image {
  background-image: url('/public/assets/background-image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}